@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model RegisterConfirmationModel

@inject IHtmlLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_RegisterConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            @Localizer["Identity_Account_RegisterConfirmation_Description",@Model.EmailConfirmationUrl]
        </p>
    }
    else
    {
        <p>
            @Localizer["Identity_Account_RegisterConfirmation_Message"]
        </p>
    }
}

