@page
@using Microsoft.Extensions.Localization;
@model LoginWithRecoveryCodeModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_LoginRecoveryCode_Title"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    @Localizer["Identity_Account_LoginRecoveryCode_Description"]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-messages="All"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="@Html.DisplayTextFor(m => m.Input.RecoveryCode)" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="invalid-feedback text-dark-red"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Identity_Account_LoginRecoveryCode_Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}