@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model LoginWith2faModel

@inject IHtmlLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Login2FA_Title"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>@Localizer["Identity_Account_Login2FA_Description"]</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-red-intense"></div>
            <div class="form-floating">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-red-intense"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine" class="form-label">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Identity_Account_Login2FA_Submit"]</button>
            </div>
        </form>
    </div>
</div>
<p>
    @Localizer["Identity_Account_Login2FA_RecoverCodeMessage",@Model.ReturnUrl]
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}