@page
@using Microsoft.Extensions.Localization;
@model RegisterConfirmationModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_RegisterConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            @Html.Raw(@Localizer["Identity_Account_RegisterConfirmation_Description"])
        </p>
    }
    else
    {
        <p>
            @Localizer["Identity_Account_RegisterConfirmation_Message"]
        </p>
    }
}

