@page
@using Microsoft.Extensions.Localization;
@model ResendEmailConfirmationModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_ResendEmailConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
<h2>@Localizer["Identity_Account_ResendEmailConfirmation_Subitle"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-messages="All"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="@Html.DisplayTextFor(m => m.Input.Email)" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="invalid-feedback text-dark-red"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Identity_Account_ResendEmailConfirmation_Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
