@using Microsoft.AspNetCore.Mvc.Localization;
@using Template.Common;
@using Template.MvcWebApp.Areas.SampleMvc.Models.SampleList;
@model IEnumerable<SampleListWithItemCountsViewModel>

@inject IHtmlLocalizer Localizer;

@{
    var title = @Localizer["Sample_SampleList_Index_Title"].Value;
    ViewData["Title"] = title;
}

@section SectionBar{
    <partial name="_SectionBar" model="title" />
}
@if (Model.Any())
{
    <p class="text-end">
        <a class="btn btn-outline-primary" asp-action="Create">@Localizer["Shared_Buttons_CreateNew"]</a>
    </p>
}
<hr />
<div>
    <div asp-messages="All" hiding-delay="15" class="message-absolute position-absolute top-0 end-0"></div>
    <div class="grid">
        @if (!Model.Any())
        {
            <div class="g-col-3">
                <div class="card">
                    <div class="card-body position-relative">
                        <a class="btn btn-outline-primary" asp-action="Create">@Localizer["Shared_Buttons_CreateNew"]</a>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="g-col-3">
                <div class="card">
                    <div class="card-body position-relative">
                        @*<a asp-action="Details" asp-route-id="@item.Id">*@
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        @*</a>*@
                        <span class="badge rounded-pill bg-primary text-end position-absolute top-0 start-100 translate-middle">@Html.DisplayFor(modelItem => item.ItemsCount)</span>

                        <div class="row">
                            <div class="col text-end">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Shared_Buttons_Edit"].Value</a>
                                <a class="btn btn-outline-dark-red" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Shared_Buttons_Delete"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/content/js/Areas/SampleMVC/views/sample-list/index.bundle.js"></script>
}