@using Microsoft.AspNetCore.Mvc.Localization;
@using Template.MvcWebApp.Areas.SampleAjax.Models.SampleList;
@model Template.MvcWebApp.Areas.SampleAjax.Models.SampleList.EditSampleListViewModel
@inject IHtmlLocalizer Localizer;

@{
    var title = @Localizer["Sample_SampleList_Edit_Title"].Value;
    ViewData["Title"] = title;

    var newItem = new SampleItemViewModel()
            {
                ListId = Model.Id,

            };

    ResponseMessageViewModel responseMessage = null;
    if (ViewData.ContainsKey("ResponseMessage") && ViewBag.ResponseMessage != null)
    {
        responseMessage = ViewBag.ResponseMessage;
    }
}

@section SectionBar{
    <partial name="_SectionBar" model="@title" />
}
<div class="row">
    <div class="col-12">
        @if (responseMessage != null && responseMessage.Id == "Edit")
        {
            <partial name="_ResponseMessage" />
        }
    </div>
    <div class="col-4">
        <form name="EditForm">
            <div asp-validation-summary="ModelOnly" class="text-red-intense"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <div class="d-flex align-items-start flex-column flex-grow-1">
                <div class="form-group w-100">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-red-intense"></span>
                </div>
                <div class="w-100">
                    <hr class="silver" />
                    <a class="btn btn-outline-silver me-2" asp-action="Index">@Localizer["Shared_Buttons_BackToList"].Value</a>
                    <button type="submit" class="btn btn-primary">@Localizer["Shared_Buttons_Update"].Value</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <partial name="_AddItem" model="newItem" />
                <div class="js_Items"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="~/content/js/Areas/SampleAjax/views/sample-list/edit.bundle.js"></script>
}
