@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Microsoft.Extensions.Options;
@using System.Globalization;
@using Template.MvcWebApp.Extensions;

@inject IOptions<RequestLocalizationOptions> LocalizationOptions
@inject IStringLocalizer Localizer


@{
    string returnUrl = ViewContext.HttpContext.Request.GetEncodedPathAndQuery();
    var requestCultureFeature = Context.GetRequestCultureFeature();
    var requestCulture = requestCultureFeature.RequestCulture.UICulture.Name.Length == 2 ? requestCultureFeature.RequestCulture.UICulture.Name : requestCultureFeature.RequestCulture.UICulture.Parent.Name;
    var cultureItems = LocalizationOptions.Value.SupportedUICultures
                        .Where(c => c.ToString().Length == 2)
                        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName.ToUpper() })
                        .ToList();
    var currentLang = cultureItems.Find(x => x.Value == CultureInfo.CurrentUICulture.TwoLetterISOLanguageName);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template.MvcWebApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/content/theme/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/content/theme/site.min.css" />
    </environment>
    <link rel="stylesheet" href="~/content/vendors/bootstrap-icons/font/bootstrap-icons.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Template.MvcWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Layout_Navbar_Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Layout_Navbar_Privacy"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Sample" asp-controller="SampleList" asp-action="Index">@Localizer["Layout_Navbar_SampleList"]</a>
                        </li>

                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>*@
                    </ul>

                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3 me-lg-0 dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-mdb-toggle="dropdown"
                               aria-expanded="false">
                                <span class="c-gray-520 mr-05 font-sm text-uppercase">@currentLang.Value</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var language in cultureItems.FindAll(x => x != currentLang))
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="@language.Value" asp-route-returnUrl="@returnUrl">
                                            <img width="43" height="32" src="~/content/images/flags/@(language.Value).svg" alt="@language.Text">
                                            <span class="c-md ms-4 text-capitalize">@language.Text</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Template.MvcWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Layout_Footer_Privacy"]</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/content/vendors/@@popperjs/core/dist/umd/popper.js"></script>
        <script src="~/content/vendors/bootstrap.js"></script>
        <script src="~/content/vendors/mdb-ui-kit/js/mdb.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/content/vendors/popper.min.js"></script>
        <script src="~/content/vendors/bootstrap.min.js"></script>
        <script src="~/content/vendors/mdb-ui-kit/js/mdb.min.js"></script>
    </environment>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
