@page
@using Microsoft.Extensions.Localization;
@model DeletePersonalDataModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Manage_DeletePersonalData_Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["Identity_Account_Manage_DeletePersonalData_Description"]</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@Html.DisplayTextFor(m => m.Input.Password)" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="invalid-feedback text-dark-red"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">@Localizer["Identity_Account_Manage_DeletePersonalData_Submit"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
