@page
@using Microsoft.Extensions.Localization;
@model EmailModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Manage_Email_Title"];
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-messages="All"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="input-group mb-2 ">
                    <div class="form-floating">
                        <input asp-for="Email" class="form-control" disabled />
                        <label asp-for="Email" class="form-label"></label>
                    </div>
                    <span class="input-group-text text-success font-weight-bold">✓</span>
                </div>
            }
            else
            {
                <div class="mb-2">
                    <div class="form-floating">
                        <input asp-for="Email" class="form-control" disabled />
                        <label asp-for="Email" class="form-label"></label>
                    </div>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@Localizer["Identity_Account_Manage_Email_Send"]</button>
                </div>
            }
            <div class="input-group has-validation mb-2">
                <div class="form-floating">
                    <input asp-for="Input.NewEmail" value="@Model.Input.NewEmail" class="form-control" placeholder="@Html.DisplayTextFor(m=>m.Input.NewEmail)" autocomplete="email" />
                    <label asp-for="Input.NewEmail" class="form-label"></label>
                </div>
                <span asp-validation-for="Input.NewEmail" class="invalid-feedback text-dark-red"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">@Localizer["Identity_Account_Manage_Email_Change"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
