@page
@using Microsoft.Extensions.Localization;
@model SetPasswordModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Manage_SetPassword_Title"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@Localizer["Identity_Account_Manage_SetPassword_Subtitle"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @Localizer["Identity_Account_Manage_SetPassword_Description"]
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-messages="All"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="@Html.DisplayTextFor(m => m.Input.NewPassword)" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="invalid-feedback text-dark-red"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="@Html.DisplayTextFor(m => m.Input.ConfirmPassword)" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback text-dark-red"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Identity_Account_Manage_SetPassword_Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
