@page
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model TwoFactorAuthenticationModel

@inject IHtmlLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Manage_TwoFactorAuthentication_Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    @Localizer["Identity_Account_Manage_TwoFactorAuthentication_Alert0"]
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    @Localizer["Identity_Account_Manage_TwoFactorAuthentication_Alert1"]
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    @Localizer["Identity_Account_Manage_TwoFactorAuthentication_Alert2",@Model.RecoveryCodesLeft]
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_Forgot"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_Disable"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_ResetRecoveryCodes"]</a>
        }

        <h4>@Localizer["Identity_Account_Manage_TwoFactorAuthentication_AuthenticatorTitle"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_AddApp"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_SetApp"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["Identity_Account_Manage_TwoFactorAuthentication_ResetApp"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            @Localizer["Identity_Account_Manage_TwoFactorAuthentication_PolicyNotAccepted"]
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
