@using Microsoft.AspNetCore.Mvc.Localization;
@using Template.WebApp.Areas.SampleAjax.Models.SampleList;
@model IEnumerable<SampleListWithItemCountsViewModel>

@inject IHtmlLocalizer Localizer;

@{
    var title = @Localizer["Sample_SampleList_Index_Title"].Value;
    ViewData["Title"] = title;
}

@section SectionBar{
    <partial name="_SectionBar" model="title" />
}
@if (Model.Any())
{
    <p class="text-end">
        <a class="btn btn-outline-primary" asp-action="Create">@Localizer["Shared_Buttons_CreateNew"]</a>
    </p>
}
<hr />
<div>
    <div asp-messages="All" hiding-delay="15" class="message-absolute position-absolute top-0 end-0"></div>
    <div class="grid js_Items">
        @if (!Model.Any())
        {
            <div class="g-col-3">
                <div class="card">
                    <div class="card-body position-relative">
                        <a class="btn btn-outline-primary" asp-action="Create">@Localizer["Shared_Buttons_CreateNew"]</a>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="g-col-3" data-id="@item.Id">
                <div class="card">
                    <div class="card-body position-relative">
                        @*<a asp-action="Detail" asp-route-id="@item.Id">*@
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        @*</a>*@
                        <span class="badge rounded-pill bg-primary text-end position-absolute top-0 start-100 translate-middle">@Html.DisplayFor(modelItem => item.ItemsCount)</span>

                        <div class="row">
                            <div class="col text-end">
                                <a class="btn btn-primary js_EditList" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Shared_Buttons_Edit"].Value</a>
                                <a class="btn btn-outline-dark-red js_RemoveList" asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#RemoveConfirmation">@Localizer["Shared_Buttons_Delete"].Value</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="RemoveConfirmation" tabindex="-1" aria-labelledby="RemoveConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RemoveConfirmationLabel">@Localizer["Layout_Navbar_SampleList_Ajax"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body js_deleteContent">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <environment include="Development">
        <script type="text/javascript" src="~/content/js/Areas/SampleAjax/views/sample-list/index.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/content/js/Areas/SampleAjax/views/sample-list/index.bundle.min.js"></script>
    </environment>
}