@using Microsoft.AspNetCore.Mvc.Localization;
@model List<UserRolesViewModel>;

@inject IHtmlLocalizer Localizer;

@{
    var userId = ViewBag.UserId;
}

<form asp-route-id="@userId" method="post">
    <div class="card">
        <div class="card-header">
            <h2>@Localizer["Administration_User_ManageRoles_Title"]</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].RoleName</label>
                </div>
            }

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">@Localizer["Shared_Buttons_Update"]</button>
            <a asp-action="Edit" asp-route-id="@userId" class="btn btn-outline-primary">@Localizer["Shared_Buttons_Cancel"]</a>
        </div>
    </div>
</form>